<div id="reality" class="reality">
  <h5>📖 Инструкция</h5> 

  <ol>
    <li
      >Для использования новых протоколов необходимо скачать приложение:
      <ol>
        <li>
          <a
            href="https://play.google.com/store/apps/details?id=com.v2ray.ang&hl=en&gl=US"
            target="_blank"
            rel="noopener noreferrer"
            ><strong>v2rayNG для Android</strong></a
          >
        </li>
        <li>
          <a
            href="https://apps.apple.com/us/app/foxray/id6448898396?platform=iphone"
            target="_blank"
            rel="noopener noreferrer"
            ><strong>FoXray для iOS</strong></a
          >
        </li>
      </ol>
    </li>

    <li>
      Теперь открываете приложение.
      <ol>
        <li>
          <strong>Android</strong>: перейдите в <i>Menu</i> (три полоски в левом верхнем углу), выберите пункт
          <i>Subscription group setting</i> и нажмите плюсик в верхнем правом углу
        </li>
        <li>
          <strong>iOS</strong>: перейдите в нижнем меню в раздел <i>Subscription</i> и нажмите плюсик в верхнем правом
          углу
        </li>
      </ol>
    </li>

    <li class="subscription">
      В поле Название/Name/Remark можете написать всё, что вашей душе угодно. <br />
      Затем нажмите на ссылку ниже и скопируйте её в поле <i>URL</i> в приложении: <br />

      <span class="chip subscription__link" onclick="copyLink()">
        <span id="subscriptionLink"> https://fra.prvc.rocks:24222/user/denisemenov</span>
        <span class="btn btn-link"> <i class="icon icon-copy"> </i></span>
      </span>
    </li>

    <li>
      Далее:
      <ol>
        <li>
          <strong>Android</strong>: нажмите стрелочку назад в верхнем левом углу, затем три точки в правом верхнем углу
          и выберите <i>Update subscription</i>. У вас появится несколько протоколов на выбор. Нажмите на любой
          протокол, который вам нравится больше. Он теперь будет выделен зелёным. Затем нажмите на круглую кнопочку с
          буквой V в правом нижнем углу.
        </li>
        <li>
          <strong>iOS</strong>: в разделе <i>Subscription</i> нажмите на круглую стрелочку в правом верхнем углу, затем
          перейдите в раздел FoXray в нижнем меню. У вас появится несколько протоколов на выбор. Нажмите на кнопочку
          Play любого протокола, который вам нравится больше.
        </li>
      </ol>
    </li>

    <li> Бинго. Вы в свободном интернете. </li>

    <li>
      Если вдруг спустя некоторое время что-то перестало работать, то повторите пункт 4. Это автоматическое обновление
      настроек ваших протоколов, которое позволяет значительно проще держать в актуальном состоянии конфигурацию вашего
      приложения.
    </li>
    <li>
      Если и после этого ничего не заработало, то обращайся к своему любимому (или не очень) айтишнику. Думаю, ты
      знаешь, как его найти. 🥂
    </li>
  </ol>

  <div id="copiedLink" class="toast toast-primary copied"> 📋 Ссылка скопирована </div>
</div>
